*{
    top: 0;
    left: 0;
    margin: 0;
}

:root {
    --primary-light: black;
    --secondary-light: grey;
    --background-light: white;
    --primary-dark: white;
    --secondary-dark: black;
    --background-dark: rgb(48, 48, 48);
}

body{
    background-color: var(--background-dark);
    overflow: hidden;
}

h1{
    text-align: center;
    color: var(--primary-dark);
}

h2{
    text-align: center;
    color: var(--secondary-dark);
}

.menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0.5rem;
    z-index: 999;
}

span {
    color: var(--primary-dark);
    font-size: 32px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a span:hover{
    outline: 5px;
    outline-color: black;
}

#top-link {
    padding-top: 0;
}

#bottom-link {
    padding-bottom: 0;
}

.page{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10rem;
    width: fit-content;
    min-width: 500px;
    text-align: center;
    border-radius: 0.5rem;
}

#console{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75dvh;
    width: fit-content;
}

#game-interface{
    /* position: absolute;
    top: 50%;
    left: 50%;
    height: 30rem;
    width: 30rem;
    background-color: blueviolet; */
    position: abosolute;
    top: 30%;
    left: 30%;
    height: 10rem;
    width: 10rem;
    background-color: red;
}

.console-button{
    position: absolute;
    cursor: pointer;
    background-color: brown;
}

#up.console-button,
#down.console-button{
    height: 4rem;
    width: 4.3em;
}
#left.console-button,
#right.console-button{
    height: 4.3rem;
    width: 4em;
}

#up.console-button{
    top: 138%;
    left: -1%;
}

#down.console-button{
    top: 218%;
    left: -1%;
}

#left.console-button{
    top: 176%;
    left: -13.5%;
}

#right.console-button{
    top: 176%;
    left: 12%;
}

#a.console-button,
#b.console-button{
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
}

#a.console-button{
    top: 130%;
    left: 101%;
}

#b.console-button{
    top: 176%;
    left: 72%;
}


#start.console-button,
#select.console-button{
    top: 303.5%;
    height: 1.5rem;
    width: 6.2rem;
    border-radius: 50px;
    rotate: -27deg;
}

#start.console-button{
    left: 46%;
}

#select.console-button{
    left: 19.3%;
}

#home{
    background: hotpink;
}

#about{
    border: 2px solid black;
    background-color: var(--primary-dark);
    height: min-content;
}

.socials-wrapper{
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.socials img{
    cursor: pointer;
    height: 10rem;
    width: 10rem;
}
