:root {
    --primary-light: black;
    --secondary-light: grey;
    --background-light: white;
    --primary-dark: white;
    --secondary-dark: black;
    --background-dark: rgb(48, 48, 48);
}

*{
    top: 0;
    left: 0;
}

body{
    background-color: var(--background-dark);
}

h1{
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    padding: 0;
    list-style-type: none;
    padding: 0.5rem;
}

a span {
    color: var(--primary-dark);
    font-size: 32px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#top-link {
    padding-top: 0;
}

#bottom-link {
    padding-bottom: 0;
}